/* REUSABLES ---------------------- */

/* Action links and buttons */
input[type="submit"],
button,
.cat-nav a,
.nav .menu a,
.action-link {
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  padding: 0.5em 1.3em;
  box-shadow: 0 1px 1px #778194;
  color: #3E444E;
  -webkit-border-radius: 25px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
  -moz-border-radius: 25px; /* FF1-3.6 */
  border-radius: 25px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  border: 1px solid #525966;
  background: rgba(82, 89, 102, 0.3);
  display: inline-block;
}

input[type="submit"]:hover,
button:hover,
.cat-nav a:hover,
.nav .menu a:hover,
.action-link:hover {
  color: #3E444E;
  background: rgb(82, 89, 102);
  background: rgba(82, 89, 102, 0.7);
  cursor: pointer;
}

input[type="submit"]:active,
button:active,
.cat-nav a:active,
.nav .menu a:active,
.action-link:active,
.cat-nav .current-cat a,
.nav .menu .current-post-ancestor a,
.nav .menu .current-category-ancestor a,
.nav .menu .current-menu-item a,
.action-link.active {
  color: #fff;
  position: static;
  background: rgba(82, 89, 102, 0.7);
  -moz-box-shadow: inset 0px 2px 5px #424C54;
  -webkit-box-shadow: inset 0px 2px 5px #424C54;
  box-shadow: inset 0px 2px 5px #424C54;
}

input[type="submit"]:active,
button:active,
.cat-nav a:active,
.nav .menu a:active,
.action-link:active {
  color: #3E444E;
}


/* Titles */
.header,
.header a {
  font-size: 42px !important;
  margin-bottom: 0.3em !important;
  line-height: 1em !important;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.sub-header,
.sub-header a {
  font-size: 25px !important;
  margin-bottom: 0.3em !important;
  line-height: 1em !important;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


/* General utility classes */
.hidden {
  display: none;
}

.post-edit-link, /* TODO: add .utility-info to all post edit links with filter and remove this */
.utility-info,
.utility-info a,
a.utility-info {
  color: #525966;
}
.post-edit-link:hover, /* TODO: add .utility-info to all post edit links with filter and remove this */
.utility-info a:hover,
a.utility-info:hover {
  color: #3E444E;
}


/* Polaroids */
.polaroid {
  background-color: #fff;
  padding: 40px;
  position: relative;
  -moz-box-shadow: 2px 2px 6px #222;
  -webkit-box-shadow: 2px 2px 6px #222;
  box-shadow: 2px 2px 6px #222;
}

.polaroid .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 17px;
  opacity: 0;
}

.polaroid:hover .caption {
  opacity: 0.8;
}

.polaroid .caption a {
  display: block;
  color: #fff;
  background: #000;
  padding: 20px;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
}

.polaroid .image {
  font-size: 0;
  background: #000;
  text-align: center;
  overflow: hidden;
  border: 1px solid #000;
  display: block;
  text-decoration: none;
}

.polaroid .image > * {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.polaroid .image > img {
  height: auto;
  vertical-align: middle;
}

.polaroid .image > .pseudo-image {
  vertical-align: top;
}

.polaroid .pseudo-image {
  background: #333;
  color: #222;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  height: 270px;
  max-height: 100%;
  font-size: 400px;
  letter-spacing: -40px;
  text-indent: -100px;
}