/* REUSABLES ---------------------- */

/* Action links and buttons */
input[type="submit"],
button,
.cat-nav a,
.nav .menu a,
.action-link {
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  padding: 0.5em 1.3em;
  box-shadow: 0 1px 1px #778194;
  color: #3E444E;
  -webkit-border-radius: 25px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
  -moz-border-radius: 25px; /* FF1-3.6 */
  border-radius: 25px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  border: 1px solid #525966;
  background: rgba(82, 89, 102, 0.3);
  display: inline-block;
}

input[type="submit"]:hover,
button:hover,
.cat-nav a:hover,
.nav .menu a:hover,
.action-link:hover {
  color: #3E444E;
  background: rgb(82, 89, 102);
  background: rgba(82, 89, 102, 0.7);
  cursor: pointer;
}

input[type="submit"]:active,
button:active,
.cat-nav a:active,
.nav .menu a:active,
.action-link:active,
.cat-nav .current-cat a,
.nav .menu .current-post-ancestor a,
.nav .menu .current-category-ancestor a,
.nav .menu .current-menu-item a,
.action-link.active {
  color: #fff;
  position: static;
  background: rgba(82, 89, 102, 0.7);
  -moz-box-shadow: inset 0px 2px 5px #424C54;
  -webkit-box-shadow: inset 0px 2px 5px #424C54;
  box-shadow: inset 0px 2px 1px #424C54;
}

input[type="submit"]:active,
button:active,
.cat-nav a:active,
.nav .menu a:active,
.action-link:active {
  color: #3E444E;
}


/* Titles */
.header,
.header a {
  font-size: 42px !important;
  margin-bottom: 0.3em !important;
  line-height: 1em !important;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.sub-header,
.sub-header a {
  font-size: 25px !important;
  margin-bottom: 0.3em !important;
  line-height: 1em !important;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


/* General utility classes */
.hidden {
  display: none;
}

.post-edit-link, /* TODO: add .utility-info to all post edit links with filter and remove this */
.utility-info,
.utility-info a,
a.utility-info {
  color: #525966;
}
.post-edit-link:hover, /* TODO: add .utility-info to all post edit links with filter and remove this */
.utility-info a:hover,
a.utility-info:hover {
  color: #3E444E;
}


/* Polaroids */
.polaroid {
  background-color: #fff;
  padding: 40px;
  position: relative;
  text-align: center;
  -moz-box-shadow: 2px 2px 6px #222;
  -webkit-box-shadow: 2px 2px 6px #222;
  box-shadow: 2px 2px 6px #222;
}

.polaroid .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 17px;
  background: rgba(00, 00, 00, 0);
}

.polaroid .caption .archive-details {
  display: table-cell;
  vertical-align: middle;
  height: 243px;
  width: 243px;
  opacity: 0;
  -webkit-transform: scale(0.8);  /* Safari 3.1+, Chrome */
  -moz-transform: scale(0.8);  /* Firefox 3.5+ */
  -ms-transform: scale(0.8);  /* IE9+ */
  -o-transform: scale(0.8);  /* Opera 10.50+ */
  transform: scale(0.8);
}

.polaroid .caption .title,
.polaroid .caption .post-date,
.polaroid .caption .category-names {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 14px;
  opacity: 0.95;
}

.polaroid .caption .title {
  padding: 0 20px 20px;
  font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
}

.polaroid .caption .category-names {
  padding: 5px 20px 0;
}

.polaroid .image {
  font-size: 0;
  background: #000;
  text-align: center;
  overflow: hidden;
  border: 1px solid #000;
  display: block;
  text-decoration: none;
}

.polaroid .image > * {
  display: inline-block;
  max-width: 100%;
}

.polaroid .image > img {
  height: auto;
  width: auto;
  vertical-align: middle;
}

.polaroid .image > .pseudo-image {
  vertical-align: top;
}

.polaroid .pseudo-image {
  background: #333;
  color: #222;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  height: 270px;
  max-height: 100%;
  font-size: 400px;
  letter-spacing: -40px;
  text-indent: -100px;
}

.polaroid .preloader {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 50%;
  margin-left: -16px;
}

.polaroid:hover .caption .archive-details,
.hentry.archive .polaroid .image img.featured-image,
.hentry.archive .polaroid .image .pseudo-image {
  -webkit-transform: scale(1);  /* Safari 3.1+, Chrome */
  -moz-transform: scale(1);  /* Firefox 3.5+ */
  -ms-transform: scale(1);  /* IE9+ */
  -o-transform: scale(1);  /* Opera 10.50+ */
  transform: scale(1);
  opacity: 1;
}

.hentry.archive .polaroid:hover .image img.featured-image,
.hentry.archive .polaroid:hover .image .pseudo-image {
  -webkit-transform: scale(0.8);  /* Safari 3.1+, Chrome */
  -moz-transform: scale(0.8);  /* Firefox 3.5+ */
  -ms-transform: scale(0.8);  /* IE9+ */
  -o-transform: scale(0.8);  /* Opera 10.50+ */
  transform: scale(0.8);
}

.hentry.archive .polaroid:hover .caption {
  background: rgba(00, 00, 00, 0.7);
}